on:
  workflow_dispatch:
  schedule:
    # run every 24 hours
    - cron: '0 */24 * * *'
name: Excavator
jobs:
  excavate:
    name: Excavate
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@main
      - name: Excavate
        uses: ScoopInstaller/GithubActions@main
        env:
          SCOOP_GH_TOKEN: ${{ secrets.SCOOP_GH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SKIP_UPDATED: '0'
          THROW_ERROR: '1'
